@use './_variables.scss';
@use './leaflet.css';
@use "node_modules/bulma/bulma.sass";


// Fixes
a {
    transition: all 0.5s;
}
#page {
    font-size: 1.25rem;
    font-family: Roboto, 'Trebuchet MS', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
#main-viewport {
    flex: 1;

}
